<a href="https://colab.research.google.com/github/adedokun2016/IBM-Data-Science-Professional-Certificate/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Python

1.   R
2.   SQL
3.   Jave
4.   Scal

Some of the commonly used libraries used by Data Scientists include:


1.   Numpy
2.   Pandas
3.   Matplotlib
4.   SciPy
5.   Tensorflow

| Data Science Tools                  |
|-------------------------------------|
| Jupyter Notebook                    |
| RStudio                             |
| Apache Zeppelin                     |
-------------------------------------

Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5

17

In [ ]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Objectives:

List popular languages for Data Science


*   Python
*   R
*   SQL
*   Julia
*   Java
*   SAS

# Author

Adedokun Abdul Baaki